<div class="card">
    <div class="card-header">
        Dados para consulta
    </div>
    <div class="card-block">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="exampleSelect2">Selecione a Prefeitura</label>
                        <select multiple class="form-control" id="exampleSelect2">
                            <option value="1">Prefeitura Municipal de Pedro Afonso</option>
                            <option value="2">Prefeitura Municipal de Barrolândia</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Compra de Computadores
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Serviços de Manutenção
                        </label>
                    </div>
                </div>
            </div>
        </form>
        <a href="#!/resultado" class="btn btn-success">Gerar</a>
    </div>
</div>



